header p {
  height: 100px
}

.btn:hover {
  color: #fff
}

.input-text:focus {
  box-shadow: 0px 0px 0px;
  border-color: #f8c146;
  outline: 0px
}

.form-control {
  border: 1px solid #f8c146
}

header {
  background-image: url(/Users/tiffmoon/Desktop/deliverMe/Assets/preg.jpg)
  }